<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/js/bootstrap.js">
	<link rel="stylesheet" href="../style/AllPage.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light container">
	  <a class="navbar-brand" href="./Home.html">MEOW</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link active" href="./Home.html">Home<span class="sr-only">(current)</span></a>
	      <a class="nav-item nav-link" href="./Products.html">Products</a>
	      <a class="nav-item nav-link" href="#">Cart</a>
	      <a class="nav-item nav-link" href="#">About us</a>
	    </div>
	  </div>
	</nav>

	<div class="jumbotron container">
	  <h1 class="display-4">Welcome to the Meow Meow website</h1>
	  <p class="lead">Meow Meow</p>
	</div>

	<hr>
	
	<div class="container">
      <h4>Category1</h4>
	  <div class="row">
	    <div class="col-sm-6">
	      <a href="#">
	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
	      </a>
	      <a href="#" class="ProductURL">Content1</a>
	    </div>
	    <div class="col-sm-6">
	      <table>
	      	<thead>
	      		<tr>
	      			<th>Related news</th>
	      		</tr>
	      	</thead>
	      	<tbody>
	      		<tr>
	      			<td><a href="#" class="articles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam maiores ullam modi fuga, quod maxime explicabo delectus fugit eveniet porro, amet cumque, accusantium nemo, sit dolorem a recusandae voluptas ea?</a></td>
	      		</tr>
	      		<tr>
	      			<td><a href="#" class="articles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere velit tempora earum aliquam accusantium repellendus obcaecati. Sint quaerat, deserunt delectus et nostrum, provident, alias aut laboriosam facere repudiandae obcaecati, reiciendis.</a></td>
	      		</tr>
	      		<tr>
	      			<td><a href="#" class="articles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis nulla molestias sed iste nemo hic facilis temporibus, ad excepturi harum voluptatum incidunt, perspiciatis voluptates voluptatem quia rem. Ut, quod, cumque.</a></td>
	      		</tr>
	      	</tbody>
	      </table>
	    </div>


	<div class="container">
	  <h4>Category2</h4>
	  <div class="row">
	    <div class="col-sm-6">
	      <a href="#">
	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
	      </a>
	      <a href="#" class="ProductURL">Content1</a>
	    </div>
	    <div class="col-sm-6">
	      <table>
	      	<thead>
	      		<tr>
	      			<th>Related news</th>
	      		</tr>
	      	</thead>
	      	<tbody>
	      		<tr>
	      			<td><a href="#" class="articles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam maiores ullam modi fuga, quod maxime explicabo delectus fugit eveniet porro, amet cumque, accusantium nemo, sit dolorem a recusandae voluptas ea?</a></td>
	      		</tr>
	      		<tr>
	      			<td><a href="#" class="articles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere velit tempora earum aliquam accusantium repellendus obcaecati. Sint quaerat, deserunt delectus et nostrum, provident, alias aut laboriosam facere repudiandae obcaecati, reiciendis.</a></td>
	      		</tr>
	      		<tr>
	      			<td><a href="#" class="articles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis nulla molestias sed iste nemo hic facilis temporibus, ad excepturi harum voluptatum incidunt, perspiciatis voluptates voluptatem quia rem. Ut, quod, cumque.</a></td>
	      		</tr>
	      	</tbody>
	      </table>
	    </div>

	<div class="container">
	  <h4>Category3</h4>
	  <div class="row">
	    <div class="col-sm-6">
	      <a href="#">
	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
	      </a>
	      <a href="#" class="ProductURL">Content1</a>
	    </div>
	    <div class="col-sm-6">
	      <table>
	      	<thead>
	      		<tr>
	      			<th>Related news</th>
	      		</tr>
	      	</thead>
	      	<tbody>
	      		<tr>
	      			<td><a href="#" class="articles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam maiores ullam modi fuga, quod maxime explicabo delectus fugit eveniet porro, amet cumque, accusantium nemo, sit dolorem a recusandae voluptas ea?</a></td>
	      		</tr>
	      		<tr>
	      			<td><a href="#" class="articles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere velit tempora earum aliquam accusantium repellendus obcaecati. Sint quaerat, deserunt delectus et nostrum, provident, alias aut laboriosam facere repudiandae obcaecati, reiciendis.</a></td>
	      		</tr>
	      		<tr>
	      			<td><a href="#" class="articles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis nulla molestias sed iste nemo hic facilis temporibus, ad excepturi harum voluptatum incidunt, perspiciatis voluptates voluptatem quia rem. Ut, quod, cumque.</a></td>
	      		</tr>
	      	</tbody>
	      </table>
	    </div>

	<div class="container">
	  <h4>Category4</h4>
	  <div class="row">
	    <div class="col-sm-6">
	      <a href="#">
	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
	      </a>
	      <a href="#" class="ProductURL">Content1</a>
	    </div>
	    <div class="col-sm-6">
	      <table>
	      	<thead>
	      		<tr>
	      			<th>Related news</th>
	      		</tr>
	      	</thead>
	      	<tbody>
	      		<tr>
	      			<td><a href="#" class="articles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam maiores ullam modi fuga, quod maxime explicabo delectus fugit eveniet porro, amet cumque, accusantium nemo, sit dolorem a recusandae voluptas ea?</a></td>
	      		</tr>
	      		<tr>
	      			<td><a href="#" class="articles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere velit tempora earum aliquam accusantium repellendus obcaecati. Sint quaerat, deserunt delectus et nostrum, provident, alias aut laboriosam facere repudiandae obcaecati, reiciendis.</a></td>
	      		</tr>
	      		<tr>
	      			<td><a href="#" class="articles">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis nulla molestias sed iste nemo hic facilis temporibus, ad excepturi harum voluptatum incidunt, perspiciatis voluptates voluptatem quia rem. Ut, quod, cumque.</a></td>
	      		</tr>
	      	</tbody>
	      </table>
	    </div>
	
	<div class="container">
	  <h3>Our products</h3>
	  <div class="row">
	    <div class="col-sm">
	      <a href="#">
	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
	      </a>
	      <a href="#" class="ProductURL">Content1</a>
	    </div>
	    <div class="col-sm">
	      <a href="#">
	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
	      </a>
	      <a href="#" class="ProductURL">Content1</a>
	    </div>
	    <div class="col-sm">
	      <a href="#">
	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
	      </a>
	      <a href="#" class="ProductURL">Content1</a>
	    </div>
	    <div class="col-sm">
	      <a href="#">
	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
	      </a>
	      <a href="#" class="ProductURL">Content1</a>
	    </div>
	  </div>
	</div>

	<div class="container">
		<a href="products.html">Show more</a>
	</div>

	<hr>

	<div class="container">
		<h2>MEOWMEOW THANK YOU VERY MUCH</h2>
	</div>

 	<!-- Footer -->
 	<footer class="page-footer font-small bg-info text-white pt-4 container">
 	  <div>
 	    <ul class="list-unstyled list-inline text-center py-2">
 	      <li class="list-inline-item">
 	        <h5 class="mb-1">Register for free</h5>
 	      </li>
 	      <li class="list-inline-item">
 	        <a href="./FollowRegister.html" class="btn btn-light btn-rounded">Sign up!</a>
 	      </li>
 	    </ul>
 	  </div>
 	  <div class="footer-copyright text-center py-3">© 2020 Copyright:
 	    <a href="https://mdbootstrap.com/" class="text-white"> MeowMeow.com</a>
 	  </div>
 	</footer>

</body>
</html>
