<!DOCTYPE html>
<html>
<head>
	<title>PRODUCTS</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/js/bootstrap.js">
	<link rel="stylesheet" href="../style/AllPage.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light container">
	  <a class="navbar-brand" href="./Home.html">MEOW</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="./Home.html">Home</a>
	      <a class="nav-item nav-link active" href="#">Products<span class="sr-only">(current)</span></a>
	      <a class="nav-item nav-link" href="#">Cart</a>
	      <a class="nav-item nav-link" href="#">About us</a>
	    </div>
	  </div>
	</nav>

	<div class="jumbotron container">
	  <h1 class="display-4">Welcome to the Meow Meow website</h1>
	  <p class="lead">Meow Meow</p>
	</div>

	<hr>

	<div class="container">
		<h3>OUR PRODUCT</h3>
	</div>
 	
 	<div class="container">
 	  <div class="row">
 	    <div class="col-sm">
 	      <a href="./ProductSample.html">
 	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
 	      </a>
 	      <a href="Sushi.html" class="ProductURL">Content1</a>
 	    </div>
 	    <div class="col-sm">
 	      <a href="">
 	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
 	      </a>
 	      <a href="" class="ProductURL">Content1</a>
 	    </div>
 	    <div class="col-sm">
 	      <a href="">
 	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
 	      </a>
 	      <a href="" class="ProductURL">Content1</a>
 	    </div>
 	  </div>
 	</div>

 	<div class="container">
 	  <div class="row">
 	    <div class="col-sm">
 	      <a href="./ProductSample.html">
 	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
 	      </a>
 	      <a href="./ProductSample.html" class="ProductURL">Content1</a>
 	    </div>
 	    <div class="col-sm">
 	      <a href="./ProductSample.html">
 	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
 	      </a>
 	      <a href="./ProductSample.html" class="ProductURL">Content1</a>
 	    </div>
 	    <div class="col-sm">
 	      <a href="./ProductSample.html">
 	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
 	      </a>
 	      <a href="" class="ProductURL">Content1</a>
 	    </div>
 	  </div>
 	</div>

 	<div class="container">
 	  <div class="row">
 	    <div class="col-sm">
 	      <a href="./ProductSample.html">
 	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
 	      </a>
 	      <a href="" class="ProductURL">Content1</a>
 	    </div>
 	    <div class="col-sm">
 	      <a href="./ProductSample.html">
 	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
 	      </a>
 	      <a href="./ProductSample.html" class="ProductURL">Content1</a>
 	    </div>
 	    <div class="col-sm">
 	      <a href="./ProductSample.html">
 	      	<img src="../image/sushi.jpg" alt="" class="img-fluid">
 	      </a>
 	      <a href="./ProductSample.html" class="ProductURL">Content1</a>
 	    </div>
 	  </div>
 	</div>

 	<nav>
 	  <ul class="pagination justify-content-center">
 	    <li class="page-item">
 	      <a class="page-link" href="#" aria-label="Previous">
 	        <span aria-hidden="true">&laquo;</span>
 	        <span class="sr-only">Previous</span>
 	      </a>
 	    </li>
 	    <li class="page-item"><a class="page-link" href="#">1</a></li>
 	    <li class="page-item"><a class="page-link" href="#">2</a></li>
 	    <li class="page-item"><a class="page-link" href="#">3</a></li>
 	    <li class="page-item">
 	      <a class="page-link" href="#" aria-label="Next">
 	        <span aria-hidden="true">&raquo;</span>
 	        <span class="sr-only">Next</span>
 	      </a>
 	    </li>
 	  </ul>
 	</nav>

 	<hr>
	
	<div class="container">
		<h2>MEOWMEOW THANK YOU VERY MUCH</h2>
	</div>
 	<!-- Footer -->
 	<footer class="page-footer font-small bg-info text-white pt-4 container">
 	  <div class="container">
 	    <ul class="list-unstyled list-inline text-center py-2">
 	      <li class="list-inline-item">
 	        <h5 class="mb-1">Register for free</h5>
 	      </li>
 	      <li class="list-inline-item">
 	        <a href="./FollowRegister.html" class="btn btn-light btn-rounded">Sign up!</a>
 	      </li>
 	    </ul>
 	  </div>
 	  <div class="footer-copyright text-center py-3">© 2020 Copyright:
 	    <a href="https://mdbootstrap.com/" class="text-white"> MeowMeow.com</a>
 	  </div>
 	</footer>

</body>
</html>